{% extends 'base.html' %} 
{% block title%}Our Counsellors {% endblock title %} 
{% block body %} 

<div class="container">

<h1 class="main">Why Counselling is needed?</h1>
<p class="bsp">Institutions such as IIT serve as a great place for higher learning and maximum life exposure to all, but at the same time it brings along some inevitable pressures from unexpected areas. Many thrive on the challenges of this stimulating environment, but at times people become tired, overwhelmed, irritable, anxious or depressed. In such matters, typically people struggle with their issues internally, mulling them over in their mind trying to sort out possible solutions to their dilemmas. They may speak with family members and friends, but they may feel it is not enough. At this stage, it is reasonable as well as crucial to speak with a counselor.</p>
<h1 class="main">What is Counselling?</h1>
<p class="bsp">Counselling denotes a principled and professional relationship in which a wide variety of procedures (such as psychotherapy, psychometric testing, relaxation therapy and hypnosis etc.) are applied for helping individuals achieve better adjustment. Counselling gives the client an opportunity to explore their stressful and emotional feelings and gradually discover more satisfying and resourceful ways of living. The goal of counseling is not to change the fundamental characteristics that make a person special. Rather, its goal is to put the person/client in charge of making changes which is necessary for realizing their full potential, but not at the cost of their beliefs and values.</p>
<h1 class="main">Confidentiality</h1>
<p class="bsp">A counseling relationship is one which is more disciplined and confidential than friendship. In other words strict confidentiality is maintained in the counseling service. No information is passed on to anyone without the client’s consent. However, an exception to confidentiality occurs when a situation suggests that the client may pose a danger to him or herself or others.</p>


<svg viewBox="0 0 960 300">
	<symbol id="s-text">
		<text text-anchor="middle" x="50%" y="70%">Counsellors</text>
	</symbol>

	<g class = "g-ants">
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
	</g>
</svg>

<div class="row">
      <div class="col-lg-4">
        <img src="/static/3.jpeg" height="300" style="padding-bottom:10px" class="d-block w-100" alt="...">
        <center><h2>Rakesh Kakati</h2></center>
        <p>Football is often referred to as a universal language that is spoken globally. Technique is the vocabulary of football and it’s the base from which all soccer players are created.</p>
        <p><a class="btn btn-danger" href="/RakeshKakati" role="button">Get acquainted with &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/1.jpeg" height="300" style="padding-bottom:10px" class="d-block w-100" alt="...">
        <center><h2>Namrata Naomi Rynjah</h2></center>
        <p>It is a key ingredient in a footballers make up and often determines which level you play at because the higher up the football ladder you progress, the more important the mindset becomes.</p>
        <p><a class="btn btn-warning" href="/NamrataR" role="button">Get acquainted with &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/2.jpeg" height="300" style="padding-bottom:10px" class="d-block w-100" alt="...">
        <center><h2>Pallabita B. Chowdhury</h2></center>
        <p>How often have you heard people saying words like “great vision”, “tactical awareness”, “footballing brain”, “composure on the ball”. These expressions constitute game intelligence</p>
        <p><a class="btn btn-success" href="/PallabitaC" role="button">Get acquainted with &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
</div>
{% endblock body %}